*{
    padding: 0;
    margin: 0;
}

body{
    background-color: white;
    background-image: url(images/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-position: top 0px;
    font-size: 18px;
}

a{
    text-decoration: none;
    color: black;
}

.text{
    margin: 50px auto 0 auto;
    width: 80%;
    text-align: center;
}

.text p{
    margin-top: 25px;
}

.button{
    margin-top: 28px;
}

button{
    width: 180px;
    padding: 14px;
    border-radius: 30px;
}

button:hover{
    cursor: pointer;
}

nav a:hover{
    cursor: pointer;
    color: hsl(171, 66%, 44%);
}

nav .socials a:hover{
    background-color: hsl(171, 66%, 44%);
}
 

header{
    margin: 100px auto;
    text-align: center;
    width: 50%;
}

header .text p{
    margin-top: 20px;
}

.section1{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 6em;
    margin-top: 100px;
    margin-bottom: 100px;

}

.section1 .image img{
    width: 600px;
    margin-left: -50px;
}

.section1 .section1-texts{
    justify-content: start;
    align-self: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 3em;
    /* padding-right: 50px; */
    text-align: left;
    padding-right: 180px;
}

.section1 .section1-texts .section-text h3{

}

.section1 .section1-texts .section-text p{
    margin-top: 5px;
    padding-right: 180px;
}

#devices{
   width: 55%;
   margin-top: 75px;
   margin-left: auto;
   margin-right: auto;
}

#devices img{
    width: 600px;
    height: 456px;
    margin-left: auto;
    margin-right: auto;
}

.previews{
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
    margin: 100px auto; 
    text-align: center;
}

.pre-text h3{
    margin-top: 35px;
}

.pre-text p{
    margin-top: 10px;
}

.companies{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 2em;
    margin-top: 200px;
}

.beforefooter{
    margin-top: 200px;
    text-align: center;
}

footer{
    width: 100%;
    margin-top: 120px;
    margin-bottom: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    /* padding: 20px 100px; */
    /* background-color: hsl(210, 10%, 33%); */
}

nav{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-left: auto;
    margin-right: auto;
}

nav .footericon img{
    width: 50px;
    height: 50px;
}


.socials{
    grid-column: 6;
    /* display: grid;
    grid-template-columns: auto auto auto;
    gap: 1em; */
    display: flex;
    flex-direction: row;
    gap: 1em;
}


@media (max-width:650px){
    *{
        padding: 0;
        margin: 0;
    }

    body{
        width: 100%;
        /* background-image: url(./images/bg-header-mobile.png);
        background-repeat: no repeat; */
    }

    header{
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }

    header .text{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .button{
        width: 90%;
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    button{
        width: 100%;
        margin-top: 20px;
    }

    main .text{
        /* margin-top: 150px; */
        width: 90%;
        margin: 150px auto auto auto;
        /* padding: 20px; */
    }

    .section1{
        display: flex;
        flex-direction: column;
    }

    .section1 .image{
        width: 90%;
        margin: auto;
    }

    .section1 .image img{
        width: 100%;
        margin: auto;
        /* margin: auto; */
    }


    .section1 .section1-texts{
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        padding: 0;
        text-align: center;
    }

    .section-text{
        text-align: center;
    }

    .section1 .section-text p{
        text-align: center;
        padding: 0;
    }


    #devices{
        width: 90%;
        margin: 100px auto;
    }

    #devices img{
        width: 100%;
        height: 296px;
    }

    main .text:nth-child(2){
        margin-top: 0;
    }

    .previews{
        display: flex;
        flex-direction: column;
        gap: 70px;
    }

    .previews .pre{
        padding: 20px;
    }

    .companies{
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 7em;
    }

    .beforefooter{
        width: 90%;
        margin: auto;
    }

    footer{
        width: 100%;
        padding: 50px auto;
    }

    nav{
        width: 80%;
        margin: 10px auto;
        display: flex;
        flex-direction: column;
        gap: 1.5em;
        text-align: center;
    }

    .faq{
        margin-top: 20px;
    }

    .links p:nth-child(2){
        margin-top: 1.5em;
    }

    .socials{
        justify-content: center;
        gap: 2em;
        margin-top: 10px;
    }
}
